.main-header {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;



}

.main-header__title {
    font-size: 85px;
    letter-spacing: -1.5px;
    text-align: center;
    justify-content: center;

}

.main-header__title--blue {
    color: rgb(100, 21, 21);
    text-align: center;
    justify-content: center;
    font-family: fantasy;

}

.main-header__title--orange {
    color: rgb(40, 128, 6);
    text-align: center;
    justify-content: center;
    font-family: fantasy;

}

.main-header__menu ul {

    display: flex;
    text-align: center;
    justify-content: flex-end;
    padding-right: 10px;
    margin-right: 10px;
}

.main-header__menu a {

    color: rgb(106, 5, 5);
    font-weight: 400;
    font-size: 22px;
    text-shadow: 4px 4px 5px rgba(82, 65, 65, 0.626);
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all .3s ease-in-out;
    padding: 0;
    justify-content: center;
}

.main-header__menu a:hover {
    text-shadow: 5px 4px 5px rgba(42, 38, 38, 0.832);
    color: #fff;
}

.redes {

    letter-spacing: -52px;
}

.container-menu {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex: 1;

}

.badge-carrinho {
    background-color: var(--dark-blue);
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
}