.footer {
    background-color: #E7F4E9;
    color: var(--gray);
    font-size: 18px;
    border-top: solid 1px #79e98a;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 15px;
    margin-left: 70px;
    margin-right: 80px;
    margin-top: 10px;
}

.footer__copyright {
    text-align: center;
    margin-top: 20px;
    background-color: var(--light-gray-2);
    font-weight: bold;
    padding: 20px;
    color: var(--gray);
    font-size: 14px;
}

.footer__title {
    font-size: 20px;
    font-weight: bold;
    color: var(--blue);
    margin-bottom: 5px;
}

.footer__about-text {
    width: 400px;
    text-align: start;
}

.institucional {
    font-size: 15px;
    line-height: 13px;
    list-style: square;
}


.footer i {
    color: var(--orange);
}

.footer li {
    margin: 10px 0;
}