<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Atendimento</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <h2 class="footer__title">Formas de pagamento</h2>
            <p class="footer__about-text">Adipisci blanditiis voluptatem voluptatum sint.
                Quaerat laboriosam autem ipsum, minus.</p>

        </section>
        <div>
            <h2 class="footer__title">Institucional</h2>
            <ul>
                <li class="institucional">Sobre loja</li>
                <li class="institucional">Frete e Entrega</li>
                <li class="institucional">Troca e Devolução</li>
                <li class="institucional">Segurança e Privacidade</li>
            </ul>
        </div>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
                <li><i class="fa-solid fa-phone"></i> (00) 0000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i> (00) 0 0000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>