.search-form {
    height: 44px;
    display: flex;
    justify-content: flex-end;
}

.search-form input {
    box-sizing: border-box;
    height: 10px;
    padding: 20px;
    justify-content: flex-end;
    background-color: rgba(102, 44, 44, 0.164);
    border-radius: 50px;
    color: green;
    border: solid 1.5px #fff;
    transition: all .3s ease-in-out;
    font-size: 22px;
}

.search-form input:focus {
    background-color: rgb(2, 163, 106);
    outline: none;
    color: #fff;
}

.search-form button {
    width: 56px;
    height: 56px;
    background-color: var(--blue);
    border: none;
    color: rgb(188, 182, 182);
    font-size: 22px;
    margin-top: -8px;
}